@import 'variables';
@import 'breakpoints';
@import 'globals';
@import 'linimasa';
@import 'sidebar';
@import 'animations';
@import 'post';


.nk-wgw-subtitle {
  margin-top: .1rem;
  font-size: 0.8rem;
  color: gray;
  font-family: 'Roboto';
  font-weight: 400;
}
.nk-wgw {
  &-title {
    font-family: Nunito,sans-serif;
    font-weight: 800;
  }

  &-subtitle {
    margin-top: .1rem;
    font-size: 0.8rem;
    color: gray;
    font-family: 'Roboto';
    font-weight: 400;
  }

  &-balance {
    font-family: Nunito,sans-serif;
  }
}
.buysell-pm {
  &-list {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  &-item {
    flex-grow: 1;
    flex-shrink: 0;
    border: none !important;
    font-family: Nunito,sans-serif;
    font-weight: 600;
  }
}

.list-report-times {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: .8rem;
      font-family: Nunito,sans-serif;
      font-weight: 600;
    }

    .badge {
      &-sm {
        padding: .2rem .80rem;
        font-size: .80rem;
      }
    }
  }
}
