.font-nunito {
  font-family: Nunito, sans-serif;
}

.form-control-wrap.form-select-lg .select2-selection {
  height: 4rem !important;
  display: flex;
  align-items: center;
}
.form-control-wrap.form-select-lg .select2-selection__arrow {
  top: 10px;
}

@-webkit-keyframes scroll-top {
  100% {
    top: -160px;
  }
}

@keyframes scroll-top {
  100% {
    top: -160px;
  }
}
.badge-overflow {
  overflow: hidden;
  position: relative;
  min-height: 3.86rem;
  top: 0.75rem;
}
.badge-overflow__container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  transform: skewY(-5deg);
  -webkit-animation: scroll-top 3s linear 1s infinite;
          animation: scroll-top 3s linear 1s infinite;
}
.badge-overflow__item {
  background-color: #e4efff;
  color: #454545;
  border: 1px solid #9dc6ff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  font-family: Nunito, sans-serif;
  font-size: 0.8rem;
}
.badge-overflow__item:last-child {
  margin-right: 0;
}

.nk-wgw-subtitle {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: gray;
  font-family: "Roboto";
  font-weight: 400;
}

.nk-wgw-title {
  font-family: Nunito, sans-serif;
  font-weight: 800;
}
.nk-wgw-subtitle {
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: gray;
  font-family: "Roboto";
  font-weight: 400;
}
.nk-wgw-balance {
  font-family: Nunito, sans-serif;
}

.buysell-pm-list {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}
.buysell-pm-item {
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.form-control-number {
  padding: 0.62rem 1.52rem !important;
  height: 4rem !important;
}

textarea.form-control-number {
  padding: 0.62rem 1.52rem !important;
  min-height: 4rem !important;
  font-size: 20px !important;
}

.upload-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.upload-box__field {
  cursor: pointer;
}
.upload-box__field:hover {
  background-color: #e4efff;
  border-color: #9dc6ff;
}
.upload-box__item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdfea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9.5rem;
  width: 8rem;
}
.upload-box__item .icon {
  background-color: #f1fafc;
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.list-report-times__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-report-times__item span {
  font-size: 0.8rem;
  font-family: Nunito, sans-serif;
  font-weight: 600;
}
.list-report-times__item .badge-sm {
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
}
